apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
      tier: web
  template:
    metadata:
      labels:
        app: nginx
        tier: web
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        envFrom:
          - configMapRef:
              name: envconfmap
        volumeMounts:
          - name: sample-vol
            mountPath: /etc/sample/
            readOnly: true

          - name: enc-vol
            mountPath: /etc/enc/
            readOnly: true
        resources:
          requests:
            cpu: "0.5"
            memory: "500M"
   
      volumes:
        - name: sample-vol
          configMap:
            name: envconfmap

        - name: enc-vol
          secret:
            secretName: enc  
