apiVersion: v1
kind: Service
metadata:
  name: service
spec:
  ports:
  - name: 80-80
    port: 80
    nodePort: 32000
    protocol: TCP
    targetPort: 80
  selector:
    app: nginx
  type: NodePort
